<!--
SPDX-FileCopyrightText: 2024 Tomás García Barreiro, Ángel Suárez Torres, Muhammad Imran

SPDX-License-Identifier: MIT-0
-->
---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';

const metadata = {
  title: 'ConOp — Consumption Optimizer',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    actions={[
      {
        variant: 'primary',
        text: 'Register',
        href: 'register',
        icon: 'tabler:login',
      },
      { text: 'Learn more', href: '#FAQs' },
    ]}
    image={{ src: '~/assets/images/poles.png', alt: 'Some poles' }}
  >
    <Fragment slot="title">
      A smart electric consumption optimizer for your daily life,
      designed to save you money
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        <span class="font-semibold">ConOp</span> is a free, open source consumption optimizer, that'll help you understand everything about your electric bill.</span
      >
    </Fragment>
  </Hero>

  <!-- CallToAction Widget *********** -->

  <CallToAction
    actions={[
      {
        variant: 'primary',
        text: 'Get template',
        href: 'src/assets/examples/example.csv',
        target: '_blank',
        icon: 'tabler:download',
      },
    ]}
  >
    <Fragment slot="title">
      Download an example CSV so you know how to structure yours
    </Fragment>

    <Fragment slot="subtitle">
      This is a subtitle.
    </Fragment>
  </CallToAction>

  <!-- FAQs Widget ******************* -->

  <FAQs
    title="Frequently Asked Questions"
    subtitle="Dive into the following questions to gain insights into the powerful features that ConOp offers and how it can elevate your life journey."
    tagline="FAQs"
    id="FAQs"
    classes={{ container: 'max-w-6xl' }}
    items={[
      {
        title: 'Why ConOp?',
        description:
          "Lorem ipsum dolor sit amet, qui minim labore adipisicing minim sint cillum sint consectetur cupidatat.",
      },
      {
        title: 'Question #2?',
        description:
          'En un lugar de la Mancha, de cuyo nombre no quiero acordarme, no ha mucho tiempo que vivía un hidalgo de los de lanza en astillero, adarga antigua, rocín flaco y galgo corredor.',
      },
      {
        title: 'Something about how to structure the CSS?',
        description:
          "123 no.",
      },
      {
        title: "Am I running out of questions?",
        description:
          "You are running out of time.",
      },
    ]}
  />

</Layout>
